<div class="container novedades">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{usuario}}! <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión</a></p>
        </div>
    </div>
</div>