<h1>{{title}}</h1>
<p>Prueba de {{title}}</p>
{{#if opcion}}
    <p>Elejiste la opci贸n {{valor}}. <a href="/salir">Regresar</a></p>
{{/if}}

{{#unless opcion}}
    <p>Elige una opci贸n</p>
    <form action="/ingresar" method="post">
    <label><input type="radio" name="valor" value="incorrecta">No elijas esta opci贸n</label> 
    <label><input type="radio" name="valor" value="correcta">Elige esta opci贸n</label>
    <button>Continuar</button>
    </form>
{{/unless}}